
vendor/graham-campbell/result-type/
vendor/phpmailer/phpmailer/
vendor/phpoption/phpoption/
vendor/symfony/polyfill-ctype/
vendor/symfony/polyfill-mbstring/
vendor/symfony/polyfill-php80/
vendor/vlucas/phpdotenv/
